.app-container {
  text-align: center;
  margin: 0 auto;
  background: #194931;
}

.general-heading {
  background:#FF9A2E;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  margin: 40px 0px;
}

.catlook-logo {
  border-radius: 5px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
