.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 10px;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.596);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset,
    rgba(102, 175, 233, 0.6) 0 0 8px;
}

.Label-text {
  font-weight: bold;
  color: rgb(34, 37, 83);
}

.Input {
  border: 2px solid #4892cf;
  border-radius: 4px;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.3);
}

.Input[type="file"] {
  border: 2px solid #4892cf;
  border-radius: 4px;
  font-size: 15px;
  color: rgba(128, 128, 128, 0.3);
}

::placeholder {
  color: rgba(61, 58, 58, 0.7);
  font-size: 70%;
}

.Input:focus {
  border-color: #66afe9;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset,
    rgba(102, 175, 233, 0.6) 0 0 8px;
  outline: 0;
}

.Reg-button {
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 6px 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  padding-top: 10px;
}
